# Ignore Python bytecode and cache files
__pycache__
*.pyc
*.pyo
*.pyd

# Ignore database files
*.db

# Ignore log files
*.log

# Ignore Git repository files
.git
.gitignore

# Ignore VSCode settings and workspace
.vscode/

# Ignore environment variable files
.env

# Ignore directories and files related to downloaded content and logs
downloads/
logs/

# Ignore screenshots
screenshots/

# Ignore site-specific files that aren't needed in the image
sites/

# Ignore documentation files
README.md
